:root{
    --main-text-color: #020660;
    --secondary-text-color: #020660;
    --link-colour: #71a0ec;
    --background-color: #fffed2;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
}

body {
    font-family: 'Barlow', sans-serif;
}

a {
    color: var(--main-text-color);
    text-decoration: none;
    margin-right: 35px;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    height: 80px;
    padding: 0 50px;
    font-weight: 800;
}

nav .left a {
    font-size: 35px;
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
}
  
nav .left a:hover {
    transform: scale(1.1);
    text-shadow: 0 0px 20px rgb(159, 162, 166);
}

nav .right a {
    display: inline-block;
    font-size: 25px;
    color: var(--main-text-color);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
    
nav .right a:hover {
    transform: scale(1.1);
    text-shadow: 0 0px 15px rgb(159, 162, 166);
}

p a {
    color: var(--link-colour);
}

/* Hero section */

section.hero {
    padding: 0 50px;
    color: var(--secondary-text-color);
    margin-top: 50px;
}

section.hero h2{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 40px ;
}

section.hero p{
    font-size: 26px;
    font-weight: 800;
    margin-top: 25px;
    padding-bottom: 15px;
    max-width: 650px;
    margin: auto;
    text-align: justify;
    text-transform: lowercase;
}

.punctuation {
    color: var(--main-text-color);
}

/* 
img {
    max-width: 400px;
    border-radius: ;
} */


@media (max-width: 750px) {
    nav {
        all: initial;
        flex-direction: column; /* stack children vertically */
        font-family: 'Barlow', sans-serif;
        font-weight: 800;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    nav .left{
        display: flex;
        justify-content: center;
        position: relative;
        padding-top: 20px;
    }

    nav .right{
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;
    }
    nav a:last-child{
        margin-right: 0;
    }
    nav .left a{
        margin-right: 0;
    }

    section.hero {
        margin-top: 30px;
    }

    
    
  }

  @media (max-width: 620px) {
    section.hero h2 {
        font-size: 42px;
    }   
  }
@media (max-width: 560px) {
    section.hero h2 {
        font-size: 35px;
    }   

    section.hero p {
        font-size: 25px;
    }
  }

  @media (max-width: 560px) {

    section.hero p {
        font-size: 25px;
    }

    nav .left a{
        font-size: 30px;
    }
    nav .right a{
        font-size: 23px;
    }
  }

  @media (max-width: 530px) {
    section.hero p {
        font-size: 23px;
    }
  }

  @media (max-width: 490px) {
    nav .left{
        padding-top: 10px;
    }
    nav .left a{
        font-size: 28px;
    }
    nav .right a{
        font-size: 20px;
    }
    section.hero h2 {
        font-size: 30px;
    }  
    section.hero p {
        font-size: 22px;
    }
  }

  @media (max-width: 415px) {
    nav .left a{
        font-size: 25px;
    }
    nav .right a{
        font-size: 18px;
    }
    section.hero{
        font-size: 26px;
        margin-top: 15px;
    }  
    section.hero h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }  
    section.hero p {
        font-size: 18px;
    }
  }


@media (max-width: 375px) {
    section.hero h2 {
        font-size: 23px;
    }

    section.hero p {
        font-size: 17.5px;
    }
  }